$bkgcolor: #5882FA;
$fcolor: #200772;
$alertcolor: #B70094;
$bcolor: #7C71D8;
$fweight: bold;
$fsize_l: 24px;
$fsize_m: 18px;
$btnwidh: 120px;
$btnheight: 42px;
$cell: 25px;

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  background-color: $bkgcolor;
}

input[type=text] {
  color: $fcolor;
  background-color: $bkgcolor;
}

input[type=submit] {
  background-color: $bcolor;
}

table,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 8px;
}

p {
  font-size: $fsize_l;
  font-weight: $fweight;
  color: $fcolor;
}

div {
  display:table-cell {}

  margin-left:5px {}

  margin-top:6px {}

  font-size: $fsize_l;
}

.btn {
  border: 1px solid;
  width: $btnwidh;
  height: $btnheight;
  vertical-align: middle;
  text-decoration: none;
}

#hint {
  color: $alertcolor;
}

.text-center {
  text-align: center;
}

.center {
  align: center;
}

.field {
  @extend .text-center;

  width: $cell;
  height: $cell;
}
