<!DOCTYPE html>
<html lang="en">
<head>
    <title>Train your brain!</title>
    <!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="../static/js/board.js"></script>
</head>
<body>
    <p>Select train level</p>
    <!--div class="btn-group"-->
     {% for row in data %}
     <a href="{{ url_for('show_board_href',size = row[0]) }}"><div class="btn text-center" >{{ row[1] }}</div></br>
     {% endfor %}
    </a>
</body>
</html>
